In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
lr_df = pd.read_csv('Resources/salary_lin_reg.csv')
lr_df.head()

,Unnamed: 0,Year,Unnamed: 2,Percent_Salary_Gap,Unnamed: 4,Average_Management_Percent_Salary_Gap
0,0,2010,NaN,-0.050,NaN,0.094667
1,1,2010,NaN,0.116,NaN,NaN
2,2,2010,NaN,0.218,NaN,NaN
3,3,2011,NaN,-0.048,NaN,0.094667
4,4,2011,NaN,0.114,NaN,NaN

In [4]:
cleaned_df = lr_df.drop(columns= ['Unnamed: 0','Unnamed: 2','Unnamed: 4','Percent_Salary_Gap'])

In [7]:
clean_salary= cleaned_df.dropna()

In [8]:
clean_salary
clean_salary.to_csv('Resources/clean_salary.csv')